@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background: #111;
}

.navbar a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

.logo {
    color: #fff;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    text-align: center;
    font-size: 40px;
}

.hero-para {
    font-size: 20px;
    padding: 10px;
    font-style: oblique;
}

.hero span {
    color: #0077ff;
}

/* Sections */


.section h2 {
    margin-bottom: 20px;
    font-size: 45px;
}

/* Skills */
.skills-card span {
    display: inline-block;

    color: #fff;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(251, 176, 64);
    border-radius: 20px;
    padding: 20px;
    background-size: 80vh;
}

/* Projects */
.project-card {
    border: 5px solid #696dc9;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
}

.about-background {
    background-color: blanchedalmond;
    border-radius: 10px;
    padding: 20px;

}

.about-para {
    font-size: 25px;
    padding: 10px;
    font-style: oblique;
}

.skills-background {
    background-color: beige;
    border-radius: 10px;
    padding: 20px;

}

.project-background {
    background-color: rgb(242, 223, 97);
    border-radius: 10px;
    padding: 20px;

}

.contact-background {
    background-color: rgb(241, 248, 113);
    border-radius: 10px;
    padding: 20px;

}

.project-size {
    font-size: 25px;

    color: cadetblue;
    font-style: initial;
}

.heading {
    font-size: 30px;
}

.contact {
    font-size: 25px;
}

.contact-para {
    font-size: 20px;

}

.contact-para1 {
    font-weight: bold;
}
